@import url(https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Inika:wght@400;700&display=swap');

@font-face {
  font-family: GenWanMin; 
  src: url('./GenWanMin.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #ECEEE3
}


h1{
  font-family: "Italianno", cursive;
  font-size: 52px;
  text-align: center;
  margin-bottom: -5px;
}

h2{
  font-family: "GenWanMin"; 
  font-style: normal;
  text-align: center;
  font-size: 48px;
  margin-top: -5px;
}


.intro summary{
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  color: #75220c;
  font-family: "Inika", serif;
  font-style: normal
}



.intro p{
  line-height: 1.5;
  font-size: 19px;
  color: #75220c;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal
}

div.intro arrow {
  transition: transform 0.2s ease;
  
  
}



div.list{
  position: relative;
  width:auto;       
  height: auto;
top: 50px;


}

div.character{
  display: flex;
  gap: 12px;

  /*align-items: center;*/
  /*margin-bottom: 1px;*/
}

div.pinyin{
  height: 25px;
  width: 90px;
  /*top:180px;*/
  bottom: 30px;
  border-radius: 7px;
  background: rgba(255,255,255,0.65);
  display: grid;
  place-items: center;
  font-size: 18px;
    font-family: "Inika", serif;
  font-style: normal
}

div.characterChinese{
  width: 60px;
  height: 60px;
  top: -50px;
  border-radius: 9px;
  background: rgba(255,255,255,0.65);
  padding: 17px 17px;
  font-size: 56px;
   font-family: "GenWanMin"; 
  color: black
 
}

p.hanzi{
    /*place-items: center;*/
  transform: translateY(-50px) translateX(2px);
}

/*
.definition-box{
  width:320px;
  height: 20px;
  background-color: rgba(200,216,198,0.65);
  padding:58px;
  border-radius: 9px;
  position:absolute;
  left:115px;
  top:1px;
  font-size: 18px;
  cursor: pointer;
}

.definition{
  transform: translateY(-18px);
  text-align: center;
    transition: background-color 0.1s ease;
 
}
.definition-box:hover {
  background-color: rgba(52,13,3);
   color: #ae7d70;
  
}
*/

img.language-corner {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(0.25);
  transform-origin: top right;
  pointer-events: none;
  z-index: 2;
}

div.language{
  position: fixed;
  background-color: rgba(0);
  padding:6px 10px;
  border-radius: 6px;
  /*position:absolute;*/
  color:#ECEEE3;
  right:10px;
  top:20px;
  font-family: "GenWanMin";
  z-index: 3;
  
cursor: pointer;
  font-size: 13px;
  opacity: 0.85;
  transition: background-color 0.1s ease;
}

div.language:hover {
  background-color: rgba(52,13,3);
}

/*
div.grids {
  position: absolute;
  align-content: center;
  top:75px;
  left:490px;
  transform: scale(2.9);
  pointer-events: none;
  z-index: 1;
  opacity:0.8;
}
*/

div.wrap{
  display: flex;
align-content: center;
}
div.model-text{
  flex: 50%;
  align-content:center;
  /*margin-top: 290px;*/
  /*margin-left: 680px;*/
  font-family: "Inika", serif;
  font-size: 24px;
  /*padding:16px 20px;*/
  
}

div.intro-text{
  display: flex;
  align-content: center;
  margin-top: 170px;
  margin-left: 50px;
  margin-right: 50px;
  
}

div.highlight{
  background: linear-gradient(
    transparent 5%,
    rgba(94,119,89) 100%);
  padding: 0 1px; 
}

div#button-holder1 button {
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;

}

div#sketch-holder {
  flex: 50%;
}

div#button-holder1 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
  
}

div#button-holder2 button{
  width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:30px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;

}


div#button-holder2 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
  
}

div#button-holder3 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder3 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder4 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:30px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder4 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder5 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder5 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}
div#button-holder6 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:30px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder6 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder7 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder7 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder8 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:30px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder8 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}
div#button-holder9 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder9 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder10 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder10 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder11 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder11 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder12 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder12 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder13 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder13 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder14 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder14 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder15 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder15 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder16 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder16 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder17 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder17 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder18 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:30px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder18 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div#button-holder19 button{
    width:320px;
  /*height: 13px;*/
  
  background-color: rgba(200,216,198,0.65);
  padding:40px;
  border-radius: 9px;
  position:relative;
  /*left:178px;*/
  top:-25px;
  font-size: 19px;
  cursor: pointer;
   font-family: "Inika", serif;
}


div#button-holder19 button:hover {  
  background-color: rgba(52,13,3);
   color: #ae7d70;
}

div.overlay{
  /*
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding-top: 30px;
  */
display: grid;
  grid-template-columns: repeat(3, 1fr); 
 column-gap: 28px; 
  row-gap: 12px;

}



div.references{
  left: 30px;
  position:relative;
  top: 20px;
  padding-top: 20px;
  
}

