body {
    background-color: #ECEEE3
}

.nv1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}




.intro{
  width: 1020px;  
  height: 240px;
  margin: 0;    
  background: rgba(91,28,12,0.35);
  border-radius: 9px;
  padding: 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro summary{
  cursor: pointer;
  font-weight: 600;
  font-size: 21px;
}

.intro p{
  line-height: 1.5;
  font-size: 16px;
}

.intro arrow {
  transition: transform 0.2s ease;
  
  
}



.listPanel{
  position: relative;
  width: 60px;       
  height: 80vh;
  margin: 10vh 0 0 60px;  
  /*top,right,bottom,left*/ 

}

.charCard{
  display: grid;
  gap: 12px;
  align-items: center;
  margin-bottom: 14px;
}

.charBox{
  height: 25px;
  top:180px;
  border-radius: 7px;
  background: rgba(255,255,255,0.65);
  display: grid;
  place-items: center;
  font-size: 18px;
}

.infoBox{
  height: 60px;
  top:190px;
  border-radius: 9px;
  background: rgba(255,255,255,0.65);
  padding: 20px 20px;
  font-size: 50px;
}

.definition-box{
  width:320px;
  height: 25px;
  background-color: rgba(200,216,198,0.65);
  padding:58px;
  border-radius: 9px;
  position:absolute;
  left:170px;
  top:180px;
}

.language{
 width:1px;
  height: 1px;
  background-color: rgba(200,216,198);
  padding:58px;
  border-radius: 9px;
  position:absolute;
  right:20px;
  top:20px;
}

