@import url(https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Inika:wght@400;700&display=swap");

@font-face {
    font-family: GenWanMin;
    src: url("./GenWanMin.ttf");
    font-weight: normal;
    font-style: normal;
}

/*
body {
    background-color: #010722
}

img.language-corner {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(0.25);
  transform-origin: top right;
  pointer-events: none;
  z-index: 2;
}

div.language{
  position: fixed;
  background-color: rgba(0);
  padding:6px 10px;
  border-radius: 6px;
  position:absolute;
  color:#ECEEE3;
  right:10px;
  top:20px;
  font-family: "GenWanMin";
  z-index: 3;
  
cursor: pointer;
  font-size: 13px;
  opacity: 0.85;
  transition: background-color 0.1s ease;
}

div.language:hover {
  background-color: rgba(52,13,3);
}*/

div.grid-bg {
    position: absolute;
    /*transform: scale(1.25);*/
    pointer-events: none;
    /*z-index: 1;*/
    left: 30%;
    /*top: 4%;*/
}

div.pinyin {
    position: absolute;
    top: 89px;
    left: 48.5%;
    /*
  display: grid;
  place-items: center;
  */
    font-size: 90px;
    font-family: "Inika", serif;
    /*font-style: normal;*/
    color: #eceee3;
}

div.chineseCharacter {
    position: absolute;
    top: 259px;
    left: 39.5%;
    font-size: 320px;
    font-family: "GenWanMin";
    color: white;
}

div.detail {
    position: absolute;
    width: 760px;
    height: 140px;
    top: 680px;
    left: 25%;
    border-radius: 15px;
    background: #6e7e6d;
    padding: 17px 17px;
    /*opacity: 50%;*/
    font-size: 16px;
    font-family: "Inika";
    color: white;
}

div#sketch-holder {
    z-index: -2;
    top: -200px;
    position: absolute;
}
